<!DOCTYPE html>
<html>

<head>
    <title>Perros</title>
</head>

<body>

    {{>header}}

    <div class="container-md">
        <h1 class="d-flex justify-content-center text-primary">Perros</h1>

        {{#if url}}
        <a href={{url}} class="text-center">
            <p>{{url}}</p>
        </a>
        <div class=" d-flex justify-content-center p-1">
            <img src="{{url}}" alt="" width="40%">
            
        </div>
        
        <div class=" d-flex justify-content-center p-1">
        <video src="{{url}}" class="object-fit-none" autoplay width="40%"></video>
        </div>
        {{else}}
        <p>No se pudo obtener la URL del perro.</p>
        {{/if}}
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>